<h2>Acesse o sistema</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <div class="field">
      
      <%= f.text_field :matricula, autofocus: true, class: "form-control", placeholder: "Matrícula" %>
    </div>
  </div>

<div class="form-group">
  <div class="field">
    
    <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha"  %>
  </div>
</div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Logar", :class =>  "btn btn-success" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
