<div class = "nested-fields">
	<div class = "field">

		<%
			if (@student.contacts.count == 0)
				opcao = "email"
			else
				opcao = @student.contacts[f.index.to_i].tipo
			end
		%>

		<%= f.label :tipo %>
		<%= f.select :tipo, options_for_select([
								["E-mail", "email"],
								["Telefone", "telefone"],
								["Linkedin", "linkedin"],
								["Github", "github"],
								["Facebook", "facebook"],
								["Twitter", "twitter"]
							], opcao) %>

		<%= f.label :valor %>
		<%= f.text_field :valor %>

		<%= link_to_remove_association('[Remover]', f) %>
	</div>
</div>