<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :student_nome %>
  </div>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula, id: :student_matricula %>
  </div>

  <% if user_signed_in? %>
    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, id: :student_email, readonly: true  %>
    </div>

  <% else %>
    <div class="field">
      <%= form.label :email %>
      <%= form.email_field :email, id: :student_email %>
    </div>

    <div class="field">
      <%= form.label :senha %>
      <%= form.password_field :senha, id: :student_senha  %>
    </div>
  <% end %>

  <div class="field">
    Ano de conclusão
    <%= form.number_field :ano, id: :student_ano %>
  </div>

  <div class="field">
    Semestre de conclusão
    <%= form.number_field :semestre, id: :student_semestre %>
  </div>

  <div class="field">
    Curso
    <%= collection_select(:student, :course_id, Course.all, :id, :nome)%>
  </div><br>

  <div class="field">
    <%= form.label :perfil %>
    <%= form.select(:perfil, Student.perfils.keys.map {|key| [key.humanize, key]},
      id: :student_perfil,  include_blank: true ) %>
  </div>

  <% if user_signed_in? %>
    <% if current_user.coordinator?%>
      <div class="field">
        Situação
        <%= form.select(:homologado, Student.homologados.keys.map {|key| [key.humanize, key]},
          id: :student_homologado) %>
      </div>
    <%end%>
  <%end%>

  <div id = "contacts">
    <%= form.fields_for :contacts do |contacts_fields| %>
      <%= render partial: "contact_fields", locals: {f: contacts_fields} %>
    <% end %>

    <%= link_to_add_association('[ Adicionar Contato ]', form, :contacts) %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
<% end %>
