<h1>Editar Estudante</h1>

<%= render 'form', student: @student %>
<br>
<%= link_to 'Exibir', @student, :class =>  "btn btn-info" %> 
<%= link_to 'Voltar', students_path, :class => "btn btn-secondary" %>
