<p id="notice"><%= notice %></p>

<h1>Egressos</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Matricula</th>
        <th scope="col">Email</th>
        <th scope="col">Perfil no banco de talentos</th>
        <th scope="col">Situação</th>
        <th scope="col">Curso</th>
        <th scope="col">Ano</th>
        <th scope="col">Semestre</th>
        <th scope="col">Ações</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <% if current_user.email == student.email || student.course.coordinator.email == current_user.email %>
            <tr>
              <td><%= student.nome %></td>
              <td><%= student.matricula %></td>
              <td><%= student.email %></td>
              <td><%= student.perfil %></td>
              <td><%= student.homologado %></td>
              <td><%= student.course.sigla %></td>
              <td><%= student.ano %></td>
              <td><%= student.semestre %></td>
              <td><%= link_to 'Exibir', student %></td>
              <td><%= link_to 'Alterar', edit_student_path(student) %></td>
              <% if current_user.coordinator? %>
                <td><%= link_to 'Apagar', student, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
              <%end%>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= paginate(@students, theme: "bootstrap4") %>

<br>

