<p id="notice"><%= notice %></p>

<h2>Egresso  <%= @student.nome %></h2>

<br>

<p>
  <strong>Matricula:</strong>
  <%= @student.matricula %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @student.course.nome %>
</p>

<p>
  <strong>Perfil:</strong>
  <%= @student.perfil %>
</p>

<p>
  <strong>Situação:</strong>
  <%= @student.homologado %>
</p>

<p>
  <strong>Ano de conclusão:</strong>
  <%= @student.ano %>
</p>

<p>
  <strong>Semestre de conclusão:</strong>
  <%= @student.semestre %>
</p>


<h2>Contatos</h2>

<table class="table">
   <thead>
     <tr>
       <td>Tipo</td>
       <td>Endereço</td>
     </tr>
   </thead>
   <tbody>
      <% for contato in @student.contacts %>
          <tr>
            <td><%= contato.tipo %></td>
            <td><%= contato.valor %></td>
          </tr>
      <% end %>     
   </tbody>
</table>

<br>
<%if user_signed_in?%>
  <%= link_to 'Editar', edit_student_path(@student), :class => "btn btn-warning" %>
  <%= link_to 'Voltar', students_path, :class => "btn btn-primary" %>
<%end%>
