<%if user_signed_in?%>
  <%if current_user.coordinator?%>
    <br>
    <% @students.each do |s| %>
      <%if current_user.email == s.course.coordinator.email %>
        <%if s.pendente? %>
          <div class="message alert alert-warning alert-dismissible fade show" role="alert">
            Você tem <b>egressos</b> pendentes para aprovação
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <%end%>
        <%break%>
      <%end%>
    <%end%>  
    <% @briefs.each do |b| %>
      <%if current_user.email == b.student.course.coordinator.email %>
        <%if b.pendente? %>
          <div class="message alert alert-warning alert-dismissible fade show" role="alert">
            Você tem <b>depoimentos</b> pendentes para aprovação
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
          </div>
        <%end%>
        <%break%>
      <%end%>
    <%end%>

  
    <h3>Painel do Coordenador</h3>
    <br>
    <% @courses.each do |course| %>
        <% if current_user.email == course.coordinator.email%>
        <div class="panel panel-default">
        <div class="card">
        <div class="card-header">
        <%= course.coordinator.nome %>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
          <p>
            <strong>Matrícula:</strong>
            <%= course.coordinator.matricula %>
            </p>

            <p>
            <strong>Email:</strong>
            <%= course.coordinator.email %>
            </p>

            <p>
            <strong>Curso:</strong>
            <%= course.nome %>
            </p>  
          </blockquote>
        </div>
      </div>
        <%end%>
    <%end%>
    <br><br>

    <h4>Egressos</h4>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Homologados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Pendentes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Não homologados</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ano</th>
            <th scope="col">Semestre</th>
            <th scope="col">Situação</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <% if current_user.email == student.course.coordinator.email && student.homologado? %>
              <tr>
                <td><%= student.nome %></td>
                <td><%= student.email %></td>
                <td><%= student.ano %></td>
                <td><%= student.semestre %></td>
                <td><%= student.homologado %></td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
      </div> 
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ano</th>
            <th scope="col">Semestre</th>
            <th scope="col">Situação</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <% if current_user.email == student.course.coordinator.email && student.pendente? %>
              <tr>
                <td><%= student.nome %></td>
                <td><%= student.email %></td>
                <td><%= student.ano %></td>
                <td><%= student.semestre %></td>
                <td><%= student.homologado %></td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
      </div> 
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Ano</th>
            <th scope="col">Semestre</th>
            <th scope="col">Situação</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
            <% if current_user.email == student.course.coordinator.email && student.nao_homologado? %>
              <tr>
                <td><%= student.nome %></td>
                <td><%= student.email %></td>
                <td><%= student.ano %></td>
                <td><%= student.semestre %></td>
                <td><%= student.homologado %></td>
              </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
      </div> 
      </div>
    </div>
  <%end%>
<%end%>
