<%if user_signed_in?%>
    <%if current_user.admin?%>
    <br>
    <h3>Painel do Administrador</h3>
        <br>
        <h4>Usuários cadastrados no sistema</h4>
        <table class="table">
            <thead>
                <tr>
                <th>Email</th>
                <th>Perfil</th>
                </tr>
            </thead>

            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td><%= user.email %></td>
                        <td><%= user.role %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <%end%>
<%end%>