

<%if user_signed_in?%>
    <%if current_user.student?%>
        <br>
        <h2>Painel do Egresso</h2>
        <br>
        <% @students.each do |student| %>
            <% if current_user.email == student.email%>
            <div class="panel panel-default">
            <div class="card">
            <div class="card-header">
            <%= student.nome %>
            </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>
                <strong>Matricula:</strong>
                <%= student.matricula %>
                </p>

                <p>
                <strong>Email:</strong>
                <%= student.email %>
                </p>

                <p>
                <strong>Curso:</strong>
                <%= student.course.nome %>
                </p>
            </blockquote>
            </div>
            </div>
            <%end%>
        <%end%>
        <br>
        <%= link_to 'Escrever depoimento sobre o curso', new_brief_path, :class => 'btn btn-success' %>
        
    <%end%>
<%end%>
