
<div class="jumbotron" align="center">
    <h1 class="display-4">Egressos IFPB</h1>
    <p class="lead">Sistema para controle e visualização de egressos dos cursos do IFPB</p>
    <hr class="my-4">
    <p>Campus João Pessoa</p>
</div>

<div class ="row justify-content-around">
    <div class="col card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Banco de Talentos</div>
        <div class="card-body text-primary">
            <p class="card-text">Conheça os egressos dos cursos do IFPB.</p>
        </div>
        <%= link_to 'Clique aqui', home_talentos_path, :class => 'card-footer bg-transparent border-primary' %>
    </div>

    <div class="col card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Depoimentos</div>
        <div class="card-body text-success">
            <p class="card-text">Saiba o que os egressos acharam dos cursos.</p>
        </div>
        <%= link_to 'Clique aqui', home_depoimentos_path, :class => 'card-footer bg-transparent border-success' %>
    </div>
</div>

<%if !user_signed_in?%>
    <footer class="footer">
        <div class="container">
        <br>
        <h4 class="text-muted">Realização</h4>
        <span class="text-muted">Curso Superior de Tecnologia em Sistemas para Internet</span>
        <h4 class="text-muted">Apoio</h4>
        <span class="text-muted">Instituto Federal de Educação, Tecnologia e Ciência da Paraíba</span>
        </div>
    </footer>
<%end%>