
<h3>Depoimentos</h3>
<% @briefs.each do |b| %>
  <%if b.homologado?%>
    <%= b.texto %><br>
    <%= "#{b.student.nome}, formou-se em #{b.student.course.nome} em #{b.student.ano}/#{b.student.semestre}."%><br>
  <%end%>  
  <br><br>
<%end%>  