<h3>Banco de Talentos<h3>
<% @students.each do |s| %>
  <%if s.perfil == "publico" && s.homologado == "homologado"%>
  <br>
  <h4><%= s.nome %></h4>
  <h5>Curso: <%=s.course.nome %></h5>
    <% for contato in s.contacts %>
        <%= contato.tipo %>
        <%= contato.valor %><br>
    <% end %>  
  <%end%>  
<%end%>  
