<%= form_with(model: brief, local: true) do |form| %>
  <% if brief.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brief.errors.count, "error") %> prohibited this brief from being saved:</h2>

      <ul>
      <% brief.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :brief_texto %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :brief_data %>
  </div>

  <%if user_signed_in?%>
    <%if current_user.student? %>
      <% @students.each do |s| %>
        <%if s.email == current_user.email %>
          <div style="visibility:hidden" class="field">
            <%= form.label :student_id %>
            <%= form.text_field :student_id, id: :brief_student_id, :value=>s.id %>
          </div>
        <%end%>
      <%end%>
    <%end%>
  <%end%>

  <% if user_signed_in? %>
    <% if current_user.coordinator?%>
      <div class="field">
        <%= form.label :homologado %>
        <%= form.select(:homologado, Brief.homologados.keys.map {|key| [key.humanize, key]},
          id: :brief_homologado) %>
      </div>
    <%end%>
  <%end%>

  <div class="actions">
    <%= form.submit 'Salvar', :class =>  "btn btn-success"   %>
  </div>
<% end %>
