<h1>Editar Depoimento</h1>

<%= render 'form', brief: @brief %>

<br>
<%= link_to 'Exibir', @brief, :class =>  "btn btn-info"  %>
<%= link_to 'Voltar', briefs_path, :class =>  "btn btn-secondary"  %>
