<p id="notice"><%= notice %></p>

<h1>Depoimentos</h1>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Depoimento</th>
        <th scope="col">Data</th>
        <th scope="col">Autor</th>
        <th scope="col">Curso</th>
        <th scope="col">Situação</th>
        <th scope="col"></th>
        <th scope="col">Ações</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @briefs.each do |brief| %>
        <% if current_user.email == brief.student.email || brief.student.course.coordinator.email == current_user.email%>
          <tr>
            <td><%= brief.texto %></td>
            <td><%= brief.data %></td>
            <td><%= brief.student.nome %></td>
            <td><%= brief.student.course.sigla %></td>
            <td><%= brief.homologado %></td>
            <td><%= link_to 'Exibir', brief %></td>
            <td><%= link_to 'Alterar', edit_brief_path(brief) %></td>
            <% if current_user.coordinator? %>
              <td><%= link_to 'Apagar', brief, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
            <%end%>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div>