<p id="notice"><%= notice %></p>

<h3>Depoimento de <%= @brief.student.nome %>, matricula <%= @brief.student.matricula %></h3>

<p>
  <strong>Texto:</strong>
  <%= @brief.texto %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @brief.student.course.nome %>
</p>

<p>
  <strong>Data:</strong>
  <%= "#{@brief.data.day}/#{@brief.data.month}/#{@brief.data.year}" %>
</p>

<br>
<%= link_to 'Editar', edit_brief_path(@brief), :class =>  "btn btn-warning"  %>
<%= link_to 'Voltar', briefs_path, :class =>  "btn btn-secondary"   %>
