<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, id: :course_nome %>
  </div>

  <div class="field">
    <%= form.label :sigla %>
    <%= form.text_field :sigla, id: :course_sigla %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site, id: :course_site %>
  </div>
  <h2> Cadastrar coordenador</h2>
  <%= form.fields_for :coordinator do |coordinator_fields| %>

    <div class="field">
      <%= coordinator_fields.label :nome %>
      <%= coordinator_fields.text_field :nome, id: :coordinator_nome %>
    </div>

    <div class="field">
      <%= coordinator_fields.label :matricula %>
      <%= coordinator_fields.text_field :matricula, id: :coordinator_matricula %>
    </div>

    <div class="field">
      <%= coordinator_fields.label :email %>
      <%= coordinator_fields.email_field :email, id: :coordinator_email %>
    </div>

    <div class="field">
      <%= coordinator_fields.label :senha %>
      <%= coordinator_fields.password_field :senha, id: :coordinator_senha %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit 'Salvar', :class => 'btn btn-success' %>
  </div>
<% end %>
