<h1>Editar curso</h1>

<%= render 'form', course: @course %>
<br>
<%= link_to 'Exibir curso', @course, :class =>  "btn btn-info"%> 
<%= link_to 'Voltar', courses_path, :class => "btn btn-secondary"%>
