<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<br>
<%= link_to 'Cadastrar curso', new_course_path, :class => "btn btn-success" %>
<br><br>

<br>
<div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Sigla</th>
      <th scope="col">Site</th>
      <th scope="col">Coordenador</th>
      <th scope="col">Matricula</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
      <th scope="col">Ações</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.nome %></td>
        <td><%= course.sigla %></td>
        <td><%= course.site %></td>
        <td><%= course.coordinator.nome %></td>
        <td><%= course.coordinator.matricula %></td>
        <td><%= course.coordinator.email %></td>
        <td><%= link_to 'Exibir', course %></td>
        <td><%= link_to 'Alterar', edit_course_path(course) %></td>
        <td><%= link_to 'Apagar', course, method: :delete, data: { confirm: 'Tem certeza que deseja apagar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate(@courses, theme: "google") %>