<p id="notice"><%= notice %></p>

<h2>Curso  <%= @course.nome %></h2>

<br>
<p>
  <strong>Sigla:</strong>
  <%= @course.sigla %>
</p>

<p>
  <strong>Site:</strong>
  <%= @course.site %>
</p>

<p>
  <strong>Coordenador:</strong>
  <%= @course.coordinator.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @course.coordinator.matricula %>
</p>

<p>
  <strong>Email:</strong>
  <%= @course.coordinator.email %>
</p>

<br>
<h2>Estudantes</h2>
<table class="table">
   <thead>
     <tr>
       <td>Nome</td>
       <td>Matrícula</td>
       <td>E-mail</td>
     </tr>
   </thead>
   <tbody>
      <% for estudante in @course.students %>
          <tr>
            <td><%= estudante.nome %></td>
            <td><%= estudante.matricula %></td>
            <td><%= estudante.email %></td>
          </tr>
      <% end %>     
   </tbody>
</table>

<br>

<%= link_to 'Editar', edit_course_path(@course), :class => "btn btn-warning" %>
<%= link_to 'Voltar', courses_path, :class => "btn btn-secondary" %>
