<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Me mande instruções para recuperação de senha", :class =>  "btn btn-warning" %>
  </div>
  <br>
<% end %>

<%= render "users/shared/links" %>
