// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

CSS selector {
   font-family: 'Roboto', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 180px; /* Margem inferior pela altura do footer */
  }
  .footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Defina a altura fixa do footer, aqui. */
    line-height: 30px; /* Centralize verticalmente o texto. */
  }