// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
    background-image: url("/assets/banner.jpg");
    background-size: cover; 
}

.message {
    position: fixed;
    top: -590px;
    left: 50%;
    width: 50%;
}