<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav">

      <%if user_signed_in?%>
          <%if current_user.admin? %>
            <li class="nav-item active">
              <a class="nav-item nav-link active" href="<%= courses_path %>">Cursos <span class="sr-only">(current)</span></a>   
            </li>
          <%elsif current_user.coordinator? %>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="<%= students_path %>">Egressos</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="<%= briefs_path %>">Depoimentos</a>
            </li>
          <%elsif current_user.student? || current_user.normal_user? %>
            <li class="nav-item">
              <a class="nav-item nav-link active" href="<%= students_path %>">Perfil</a>
            </li>
          <%end%>
   
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=current_user.email%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Sair", destroy_user_session_path, method: :delete %>
            </div>
          </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-item nav-link" href="<%= new_user_session_path %>">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="<%= new_student_path %>">Cadastrar</a>
        </li>
      <% end %>
    
    </ul>

  </div>
</nav>