<!DOCTYPE html>
<html>
  <head>
    <title>Egresso</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'home' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Roboto' %>
  </head>

  <body>
  	<%= render partial: "layouts/menu" %>
    <%= yield %>
  </body>
</html>
